*.iml
*.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties/
.idea/
.gradle/
.gradle/7.3.3/gc.properties
.gradle/7.3.3/checksums/checksums.lock
.gradle/7.3.3/dependencies-accessors/dependencies-accessors.lock
.gradle/7.3.3/dependencies-accessors/gc.properties
.gradle/7.3.3/executionHistory/executionHistory.lock
.gradle/7.3.3/fileChanges/last-build.bin
.gradle/7.3.3/fileHashes/fileHashes.bin
.gradle/7.3.3/fileHashes/fileHashes.lock
.gradle/7.3.3/gc.properties
.gradle/buildOutputCleanup/buildOutputCleanup.lock
.gradle/buildOutputCleanup/cache.properties
.idea/deploymentTargetDropDown.xml
.idea/misc.xml
.idea/modules/app/TP1moblie.app.androidTest.iml
.idea/modules/app/TP1moblie.app.unitTest.iml
.idea/modules/app/TP1moblie.app.main.iml
.idea/workspace.xml
app/build.gradle
local.properties
